
a{
  text-decoration: none;
}

/* navigation */
.navbar-brand{
  font-size: 28px;
}

.navbar-toggler{
  border: none;
  outline: none;
}

.nav-link{
  font-size: 16px;
  color: #fff!important;
}

.log-btn{
  border: 1px solid #eee;
}


/* homepage css */

.hero {
  background-image: url("../image/gokyofront.png");
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.hero h1 {
  letter-spacing: 1px;
  font-size: 64px;
  font-weight: bold;
  line-height: 86px;
}

.para{
  width: 50%;
  font-weight: 300;
  font-size: 16px;
}


.hero .btn-get-started {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  border: 2px solid #13293D;
  background: #13293D;
}

.hero .btn-get-started:hover {
  border-color: #fff;
  background: rgba(146, 145, 145, 0.1);
}

@media (max-width: 768px) {

  nav.navbar {
    background: #000;
  }
}

  @media (max-width: 600px) {
  .hero h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .para{
    width: 100%;
  }
}

/* register css */

#register {
  width: 100%;
  height: 75vh;
  background-image: url("../image/gandruk.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#register:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


#register .register-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#register h1 {
  font-size: 54px;
  font-weight: 200;
  color: #fff;
}

@media (max-width: 768px) {
    #register h1 {
    font-size: 28px;
  }
}

/* login css */

#login {
  width: 100%;
  height: 75vh;
  background-image: url("../image/gate.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#login:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


#login .login-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#login h1 {
  font-size: 56px;
  font-weight: 200;
  color: #fff;
}

#login h2 {
  color: #eee;
  font-size: 24px;
}

@media (max-width: 768px) {

  #login h1 {
    font-size: 28px;
  }
  #login h2 {
    font-size: 18px;
  } 
}


#package {
  width: 100%;
  height: 75vh;
  background-image: url("../image/package.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#package:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#package .package-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#package h1 {
  font-size: 56px;
  font-weight: 200;
  color: #fff;
}

#package h2 {
  color: #eee;
  font-size: 24px;
}

@media (max-width: 768px) {

  #package h1 {
    font-size: 28px;
  }
  #package h2 {
    font-size: 18px;
  } 
}

#package-detail {
  width: 100%;
  height: 50vh;
  background-image: url("../image/front-2.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#package-detail:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#package-detail .packageD-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#package-detail h1 {
  font-size: 56px;
  font-weight: 200;
  color: #fff;
}

#package-detail h2 {
  color: #eee;
  font-size: 24px;
}

@media (max-width: 768px) {

  #package-detail h1 {
    font-size: 28px;
  }
  #package-detail h2 {
    font-size: 18px;
  } 

  #package-detail{
    height: 75vh;
  }
}


#contact {
  width: 100%;
  height: 75vh;
  background-image: url("../image/contact.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#contact:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


#contact .contact-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#contact h1 {
  font-size: 56px;
  font-weight: 200;
  color: #fff;
}

.information h1{
  font-family: 'Raleway', sans-serif;
}

.top-heading{
  font-size: 26px;
  border-left: 3px solid #13293D;
  padding: 0.1em 0.4em;
}

.info{
  font-size: 26px;
}



@media (max-width: 768px) {

  #contact h1 {
    font-size: 28px;
  }
}

.trip-facts ul{
  padding: 0;
  list-style-type:none;
}

.trip-facts ul li + li{
  margin-top: 10px;
}