a{
  text-decoration: none;
}

/* navigation */
.navbar-brand{
  font-size: 28px;
}

.navbar-toggler{
  border: none;
  outline: none;
}

.nav-link{
  font-size: 18px;
  color: #fff!important;
}


/* homepage css */

#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../image/front.png");
  background-size: cover;
  position: relative;
  padding: 0;
}

#hero:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 8%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  letter-spacing: 4px;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  line-height: 90px;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #fff;
}



#hero .btn-get-started {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
  display: inline-block;
  padding: 11px 38px 11px 38px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  border: 2px solid #13293D;
  background: #13293D;
}

#hero .btn-get-started:hover {
  border-color: #fff;
  background: rgba(146, 145, 145, 0.1);
}

/* register css */

#register {
  width: 100%;
  height: 75vh;
  background-image: url("../image/mistymountain.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
}

#register:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


#register .register-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#register h1 {
  font-size: 54px;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

/* login css */

#login {
  width: 100%;
  height: 75vh;
  background-image: url("../image/gate.jpg");
  background-size: cover;
  position: relative;
  padding: 0;
}

#login:before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


#login .login-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#login h1 {
  font-size: 56px;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

#login h2 {
  color: #eee;
  font-size: 24px;
}

@media (max-width: 768px) {

  nav.navbar {
    background: #000;
  }

  #hero h1 {
    font-size: 34px;
    line-height: 48px;
  }
  
  #register h1 {
    font-size: 28px;
  }
  #login h1 {
    font-size: 28px;
  }
  #login h2 {
    font-size: 18px;
  }
}
