{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<section id="login">
    <div class="login-container">
        <h1 class="mb-3">Welcome Back,</h1>
        <h2>Log in to your account or Sign up for free!</h2>
      </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body p-4">
                    <form method ="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {% include 'messages.html'%}
                            <h1 class="fs-4 card-title fw-bold mb-4">Log In</h1>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                        </div>
                    </form>
                </div>
                    <div class="card-footer py-3 border-0">
                        <div class="text-center">
                           Create a new account
                            <a href="{% url 'login' %}">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}