{% extends 'base.html' %}
{% block content %}
{% include 'normal-navbar.html' %}

<section class="hero py-5 d-flex align-items-center">
    <div class="container py-5">
      <h1>Explore the Majestic Mountains of <br> Nepal</h1>
      <p class="para py-3">Indulge your adventurous spirit into the valley of Shangri-la with breathtaking
        mountain scenary, unique trails and facinating sights!</p>
      <div class="mt-5">
        <a href="#" class="btn-get-started">Let's Go!</a>
      </div>
    </div>
  </section>



{% endblock content %}