{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'normal-navbar.html' %}


<section id="package-detail">
  <div class="packageD-container">
      <h1 class="mb-3">Package Details</h1>
  </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-lg-8 py-5">
            <h1>{{ info.package_title }}</h1><hr>
            <img class="img-fluid" src="{{ info.image.url}}" alt="{{package.title}}">
            <p>{{ info.description|safe}}</p>

           
              {% with comments.count as total_comments %}
              <h4 class="mt-4">{{ total_comments }} comments</h4>
              <p> {% endwith %} {% for comment in comments %} </p>
                <div class="single" style="padding: 10px;">
                  <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                      {{ comment.created_on }}
                    </span>
                  </p>
                  {{ comment.comment}}
                </div>
          
            {% endfor %}
            <!-- comment form here -->
        </div>
       

        <div class="col-lg-4 py-5">

          <div class="card mt-5">
            <div class="card-body">
              <h3 class="card-title">${{info.price}} Per Person</h3>
              <p class="mt-4"><i style="padding-right:10px;" class="far fa-calendar-alt fa-lg"></i> Duration: <strong>{{ info.days}}</strong>  </p>
              {% if user.is_authenticated %}
              <a href="{% url 'booking'%}" class="btn btn-primary mt-2 req">Book Now</a>
              {% else %}
              <a href="{% url 'login'%}" class="btn btn-primary mt-2 req">Log in to Book</a>
              {% endif %}
            </div>
        </div>

          <div class="card bg-light mt-4">
              <div class="card-body">
                <h5 class="card-title">Why book with Alpine Tours?</h5><hr>
                <ul>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Instant online booking</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                    <li>Best in the Business</li>
                    <li>Lorem ipsum dolor sit amet.</li>
                </ul>
              </div>
          </div>

          <div class="card bg-light mt-4">
              <div class="card-body">
                <h5 class="card-title">Trip Facts</h5><hr>
                <div class="trip-facts">
                  <ul>
                    <li><strong>Duration</strong>: {{ info.days }} </li>
                    <li><strong>Difficulty</strong>: {{ info.difficulty }} </li>
                    <li><strong>Primary Activity</strong>: {{ info.activity }}</li>
                    <li><strong>Max Elevation</strong>: {{ info.elevation }}</li>
                  </ul>
                  <hr>
                  <h5 class="card-title">Trip route</h5>
                  <p class="card-text">{{ info.route }}</p>
                  <h5 class="card-title">Best Season</h5>
                  <p class="card-text">{{ info.seasons }}</p>
                </div>
              </div>
          </div>
        </div>   
    </div>
</div>




<!-- booking/ enquiry template here -->





















{% endblock content %}