{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'normal-navbar.html' %}


<section id="package-detail">
  <div class="packageD-container">
      <h1 class="mb-3">Package Details</h1>
      <!-- breadcrumbs here -->
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-lg-8 py-5">
            <h1>{{ info.package_title }}</h1><hr>
            <img class="img-fluid" src="{{ info.image.url}}" alt="{{package.title}}">
            <p>{{ info.description|safe}}</p>

           
              {% with comments.count as total_comments %}
              <h4 class="mt-4">{{ total_comments }} comments</h4>
              <p> {% endwith %} {% for comment in comments %} </p>
                <div class="single" style="padding: 10px;">
                  <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                      {{ comment.created_on }}
                    </span>
                  </p>
                  {{ comment.comment}}
                </div>
          
            {% endfor %}
            <!-- comment form here -->
        </div>
       

        <div class="col-lg-4 py-5">
          <div class="card mt-5">
            <h5 class="card-header">Booking Details and Our Goals</h5>
              <div class="card-body">
                <p class="text-center">Why book with Alpine Tours?</p><hr>
                <ul>
                    <li>No-hassle best price guarantee</li>
                    <li>Instant online booking</li>
                    <li>Group discount available</li>
                    <li>Privacy protected</li>
                    <li>Customer care available 24/7</li>
                    <li>Hand-picked itineraries</li>
                </ul>
              </div>
          </div>

          <div class="card mt-4">
              <div class="card-body">
                <h5 class="card-title">Trip Facts</h5><hr>
                <div class="trip-facts">
                  <ul>
                    <li><strong>Duration</strong>: {{ info.days }} </li>
                    <li><strong>Difficulty</strong>: {{ info.difficulty }} </li>
                    <li><strong>Primary Activity</strong>: {{ info.activity }}</li>
                    <li><strong>Max Elevation</strong>: {{ info.elevation }}</li>
                  </ul>
                  <hr>
                  <h5 class="card-title">Trip route</h5>
                  <p class="card-text">{{ info.route }}</p>
                  <h5 class="card-title">Best Season</h5>
                  <p class="card-text">{{ info.seasons }}</p>
                </div>
              </div>
          </div>
        </div>   
    </div>
</div>


<!-- booking/ enquiry template here -->





















{% endblock content %}