{% extends 'base.html' %}
{% block content %}
{% include 'normal-navbar.html' %}

<section id="package">
    <div class="package-container">
        <h1 class="mb-3">Exclusive Tour Packages</h1>
        <h2>Find your next destination</h2>
      </div>
</section>

<section class="main_heading my-5">
  <div class="container">
      <div class="text-left ">
          <h1 class="display-6"> Available Trekking Packages </h1>
          <hr class="w-100 mx-auto" />
      </div>
  </div>

<!-- packages description -->
  <div class="container">
      <div class="row">
        {% for package in packages %}
          <div class="col-lg-5">
            <img class="img-fluid" src="{{package.image.url}}" alt="{{package.title}}">
          </div>
          <div class="col-lg-7 px-5 py-2">
              <h2>{{ package.package_title}}</h2>
              <p class="text-muted mb-4">{{ package.slug }}</p>
              <p >{{ package.description|safe|slice:":200"}}...</p>
              <p class="mt-4"><i style="padding-right:20px;" class="far fa-calendar-alt fa-lg"></i> <strong>{{ package.days}}</strong>  </p>
              <h3>Price: ${{ package.price}}</h3>
              <a href="{% url 'package_info' package.slug  %}" class="btn btn-primary mt-4">View Package </a>
          </div>
          <hr class="my-5">
        {% endfor %}
      </div>
  </div>
</section>
  






{% endblock content %}