{% extends 'base.html' %}
{% block content %}
{% include 'normal-navbar.html' %}

<section id="package">
    <div class="package-container">
        <h1 class="mb-3">Exclusive Tour Packages</h1>
        <h2>Find your next destination</h2>
      </div>
</section>

<section class="main_heading">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 col-lg-9 mt-4">
        <div class="top-heading">
          <h2 class="info">Tour Packages</h2>
        </div>
        </div>
      <div class="col-md-12 col-lg-3 mt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tours</li>
          </ol>
        </nav>
      </div>
    </div>
</div>

<!-- packages description -->
  <div class="container">
      <div class="row">
        {% for package in packages %}
          <div class="col-lg-5">
            <img class="img-fluid" src="{{package.image.url}}" alt="{{package.title}}">
          </div>
          <div class="col-lg-7 px-5 py-2">
              <h2>{{ package.package_title}}</h2>
              <p class="text-muted mb-4">{{ package.slug }}</p>
              <p >{{ package.description|safe|slice:":200"}}...</p>
              <p class="mt-4"><i style="padding-right:20px;" class="far fa-calendar-alt fa-lg"></i> <strong>{{ package.days}}</strong>  </p>
              <h3>Price: ${{ package.price}}</h3>
              <a href="{% url 'package_info' package.slug  %}" class="btn btn-primary mt-4">View Package </a>
          </div>
          <hr class="my-5">
        {% endfor %} 
      </div>
  </div>
</section>

<!-- Pagination -->
<nav aria-label="Page navigation example">
  {% if packages.has_other_pages %}
  <ul class="mt-4 mb-4 pagination justify-content-center">
    <!-- conditional to show whether the previous button should be activated or passive  -->
    {% if packages.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ packages.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="" aria-label="Previous">
        <span>&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for page in packages.paginator.page_range %}
    {% if packages.number == page %}
    <li class="page-item active">
      <a class="page-link" href="{{ page }}">
        {{ page }}
      </a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
    {% endif %}
    {% endfor %}
    <!-- conditional to display whether the next button should be activated or passive  -->
    {% if packages.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ packages.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="" aria-label="Next">
        <span>&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</nav>
</div>
  






{% endblock content %}