{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'normal-navbar.html' %}

<div id="booking">
    <div class="booking-container">
        <h1 class="mb-3">Booking and Info</h1>
    </div>
</div>

<section class="intro mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Book Your Tour With Us</h1>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- booking form -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
                    <form method ="POST">
                        {% csrf_token %}
                        {% include 'messages.html'%}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-primary">Book now</button>
                    </form>
            </div>
        </div>
    </div>










{% endblock content %}